v1/css/footer.css
v1/css/header.css
v1/css/layout.css
v1/css/responsive.css
v1/css/sections.css
v1/css/topbar.css
v1/hakkimizda.html
v1/iletisim.html
v1/images/1kadin-kitap-hero.png
v1/images/2kadin-kitap-hero.png
v1/images/kadin-kitap-hero.png
v1/images/mavi-gunes-sahaf-logo.png
v1/index.html
v1/script.js
v1/style.css
v1/ydk1_style.css
v2/about_html.html
v2/contact.html
v2/css/animations.css
v2/css/components.css
v2/css/style.css
v2/js/animations.js
v2/js/components.js
v2/js/main.js
v2/main_index.html
